* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  height: 90vh;
}

main {
  margin-top: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: rgb(50, 48, 60);
  color: white;
  border-radius: 0.5rem;
}

figure {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  max-width: 60%;
  display: flex;
}

img {
  width: 100%;
}