*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem 1rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background-color: mintcream;
}

h1 {
  padding: 1em;
}

#container {
  width: 250px;
  height: 380px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid;
}

img {
  width: 100%;
}

p {
  font-size: 1rem;
  padding: 0.8em;
}

button {
  padding: 0.5em 1em;
  background-color: limegreen;
  border-radius: 0.3em;
  color: white;
  font-size: 1rem;
}
