* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
  /* Adicione uma propriedade Flexbox que modifique a ordem em que o logo e os itens do menu aparecem na tela */
  flex-direction: row-reverse;
}

.logo-container {
  display: flex;
  justify-content: center;
  /* Adicione uma propriedade que defina o tamanho Flexbox base para o container da imagem 268px */
  flex-basis: 268px;
}

.menu-container {
  display: flex;
  /* e para o container do menu 500px. Após aplicar as propriedades */
  flex-basis: 500px;
  /* Adicione uma propriedade Flexbox que faça o container do menu crescer, quando houver espaço disponível */
  flex-grow: 1;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
  /* Utilize a propriedade align-self no elemento correto para que o header */
  align-self: center;
}